body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
  max-width: 350px;
  margin: 50px auto;
  color: #ccc;
  line-height: 2em;
}

@media (max-width: 480px) {
  .wrapper {
    margin-top: 20px;
  }
}

dl, dd {
  margin-left: 30px;
}

.value {
  font-weight: bold;
}

a {
  color: #ccc;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}